/** SHOW USER PROFIEL PAGE STYLING **/
.profile .avatar .wrapper {
  width: 140px;
  height: 140px;
  margin: 40px auto;
}

.profile .avatar .wrapper img {
  width: 100%;
  border-radius: 50%;
}

.profile .basic-info {
  padding: 40px 0;
}

.profile .basic-info .user-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .basic-info .username {
  font-size: 30px;
  line-height: 40px;
  font-weight: 200;
}

.profile .basic-info .edit-profile {
  margin-left: 20px;
  margin-top: 5px;
}

.profile .basic-info .edit-profile button {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  color: #262626;
  font-size: 14px;
  padding: 4px 10px;
  font-weight: 500;
}

.profile .basic-info ul.posts {
  padding-left: 0;
}

.profile .basic-info ul.posts > li {
  display: inline;
  padding-right: 40px;
  font-size: 15px;
}

.profile .basic-info ul.posts > li span {
  color: #262626;
  font-weight: 600;
}

.profile .basic-info .name {
  font-size: 15px;
  font-weight: 600;
}

.profile .basic-info .website {
  color: #003569;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

/** SHOW USER TOOL BAR **/
.user-tabs {
  border-top: 1px solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-tabs a.tab {
  height: 35px;
  margin-right: 50px;
  line-height: 45px;
  color: #999;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.user-tabs a.tab i {
  padding-right: 1px;
}

.user-tabs a.tab:hover {
  text-decoration: none;
}

.user-tabs a.active {
  border-top: 1px solid #262626;
  color: #262626;
}

/** STYLING SHOW USER PROFILE PHOTOS **/
.user-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

.user-images .wrapper {
  width: 280px;
  height: 280px;
  margin: 15px;
}

.user-images .wrapper img {
  width: 100%;
  border-radius: 4%;
}

/*** EDIT USER BORDERS **/
.user-edit-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  min-height: 500px;
}

.user-edit-page .actions {
  width: 220px;
  border: 1px solid #dbdbdb;
}

.user-edit-page .details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #dbdbdb;
  border-left: none;
}

/** EDIT USER TOOL BAR **/
.actions {
  width: 220px;
  border: 1px solid #dbdbdb;
}

.actions .nav-link {
  font-size: 14px;
  background-color: white;
  color: black;
  border-radius: 0;
  padding: 12px 0 12px 30px;
}

.actions .nav-link:hover {
  cursor: pointer;
}

.actions .nav-pills .nav-link.active {
  border-left: 2px solid;
  font-weight: 600;
}

/** EDIT FORM STYLIN **/
.form-edit-user {
  padding: 30px 100px 10px 50px;
}

.form-edit-user .form-group,
.form-edit-user input {
  font-size: 14px;
  color: black;
}

.form-edit-user input,
.form-edit-user textarea {
  border: 1px solid #efefef;
}

.form-edit-user .col-form-label {
  text-align: right;
  font-weight: 600;
}

.form-edit-user .avatar {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.form-edit-user .username {
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 0;
}

.form-edit-user .change-photo {
  color: #3897f0;
  text-decoration: none;
  font-size: 13px;
}

.form-edit-user input[type="submit"] {
  color: white;
}

/** CREATE POST FORM **/
.form-upload {
  border: 1px solid #dbdbdb;
  height: auto;
  margin: auto 160px;
  padding: 30px;
  border-radius: 3px;
}

.form-upload input[type="text"] {
  width: 100%;
}

.posts {
  margin: 50px 180px 10px;
}

.posts .post {
  border: 1px solid #efefef;
  margin: 60px 0;
  border-radius: 3px;
}

.posts .post .user {
  border-bottom: 1px solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posts .post .user .avatar {
  width: 30px;
  margin: 8px;
}

.posts .post .user .avatar img {
  width: 100%;
  border: 1px solid #efefef;
  border-radius: 50%;
}

.posts .post .user .username {
  padding-top: 13px;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
}

.posts .post .main-image {
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
}

.posts .post .description {
  padding: 20px;
}

.pagination span {
  padding-right: 10px;
}
/*# sourceMappingURL=users.css.map */